<div class="container-fluid m-0 p-0"
     [class.pt-1]="(formMakerService.isDragAndDropMode | async) && (formMakerService.isMakeMode | async)"
     [ngStyle]="{'background-color': (formMakerService.highlight | async) == layout['layoutName'] ?  '#f5f3f2' : 'inherit'}"
     (mouseenter)="highlightLayout(layout)" (mouseleave)="unhighlightLayout()">
<!--  *ngIf="(formMakerService.highlight | async) == layout['layoutName']"-->
  <div class="row p-0 m-0 triple-dot-layout text-center"
       matRipple
       *ngIf="(formMakerService.isMakeMode | async) && !(formMakerService.isDragAndDropMode | async)"
       >
    <div class="col col-12 m-0 p-0">
      <span (click)="newRow($event, layout)"
            class="far fa-plus-square px-2 mx-1 new-row">   Row  </span>
<!--      <span (click)="formMakerService.deleteLayout(layout)"
            class="fas fa-trash-alt px-2 mx-1 remove-layout">   Layout   </span>-->
    </div>
  </div>
<!--       (click)="selectColumn($event, layout)"></div>-->
  <div *ngIf="(layoutSubject | async) && (layoutSubject | async).children.length == 0"
       style="padding-bottom: 18px; margin-top: 3.5px; margin-bottom: 3.5px;" >
    <div class="bg-for-empty-layout" style="height: 51px; border: none; border-radius: 0px;">&nbsp;</div>
  </div>
  <!--<div *ngIf="layout.children.length == 0" style="height: 24px;">&nbsp;</div>-->
<!--  [class.pb-4]="formMakerService.isMakeMode | async"-->
  <div *ngFor="let row of (layoutSubject | async).children"
       (mouseenter)="highlightRow(row)" (mouseleave)="unhighlightRow()"
       class="row {{row.class}} layout-row mx-0"

       [class.m-0]="hasParent" [class.p-0]="hasParent">
<!--    *ngIf="(formMakerService.highlightRow | async) == row['rowName']"-->
    <div class="col col-12 triple-dot-row text-center"
         [class.p-0]="layout"
         style="background-color: #566d03"
         matRipple
         *ngIf="(formMakerService.isMakeMode | async) && !(formMakerService.isDragAndDropMode | async)">
      <span (click)="newColumn($event, row['rowName'])"
            class="far fa-plus-square px-2 mx-1 new-col">   Col  </span>
      <span (click)="formMakerService.deleteRow(row)"
        class="fas fa-trash-alt px-2 mx-1 remove-row">   Row   </span>
    </div>
    <div *ngFor="let col of row.children" [ngClass]="getColumnSizeClasses(col)"
         [class.px-0]="(col.type == 'layout' || col.type == formMakerService.formElementTypes.LAYOUT)"
         [style]="{'padding-bottom': (col.type == 'UPLOADER') ? '18px' : '0px', 'border': ((formMakerService.isMakeMode | async) && showButtons.hasOwnProperty(col['field']) && showButtons[col['field']]) ? 'solid 1px gray': 'none'}">
      <div class="container-fluid m-0 p-0">
        <div class="row m-0 p-0"
             (mouseenter)="showSettingButton(col)" (mouseleave)="showSettingButton(col)">
<!--          [style]="{height: coldiv.offsetHeight + 'px'}"-->
          <div class="col col-12 p-0">
            <!--cdkDrag
            (cdkDragStarted)="onDragStart($event)"
            [cdkDragData]="col"-->
            <div class="m-0 p-0"
                 #coldiv
                 [id]="col['columnName']"
                 (mouseenter)="highlightColumn(col)" (mouseleave)="unhighlightColumn()"
                 [ngStyle]="{'background-color': (formMakerService.isMakeMode | async) && (formMakerService.selectedColumnSubject | async) && formMakerService.selectedColumn['columnName'] == col['columnName'] ? 'rgb(245 235 238)' :'inherit',
               'border': (formMakerService.isMakeMode | async) && showButtons.hasOwnProperty(col['columnName']) && showButtons[col['columnName']] ? 'none' : 'none',
               'padding-top': (formMakerService.isMakeMode | async) && showButtons.hasOwnProperty(col['columnName']) && showButtons[col['columnName']] ? '0px' : '0px',
               'padding-bottom': (formMakerService.isMakeMode | async) && showButtons.hasOwnProperty(col['columnName']) && showButtons[col['columnName']] ? '5px' : '6px'}">
              <!--            *ngIf="(formMakerService.highlightColumn | async) == col['columnName']"-->
              <div class="container-fluid p-0 m-0 text-center triple-dot-col"
                   matRipple
                   *ngIf="formMakerService.isMakeMode | async">
                <span *ngIf="!(formMakerService.isDragAndDropMode | async)"
                      (click)="selectColumn($event, col)"
                      [class.fa-square]="!(formMakerService.selectedColumnSubject | async) || formMakerService.selectedColumn['columnName'] != col['columnName']"
                      [class.fa-check-square]="(formMakerService.selectedColumnSubject | async) && formMakerService.selectedColumn['columnName'] == col['columnName']"
                      [class.select-col-selected]="(formMakerService.selectedColumnSubject | async) && formMakerService.selectedColumn['columnName'] == col['columnName']"
                      class="far px-2 mx-1 select-col"></span>
                <span *ngIf="!(formMakerService.isDragAndDropMode | async)"
                      (click)="formMakerService.deleteColumn(col)"
                      class="fas fa-trash-alt px-2 mx-1 remove-col"></span>
                <span *ngIf="(formMakerService.isDragAndDropMode | async) && (formMakerService.isMakeMode | async) && (!(formMakerService.selectedColumnSubject | async) || ((formMakerService.selectedColumnSubject | async) && formMakerService.selectedColumn['columnName'] == col['columnName']))"
                      [class.fa-exchange-alt]="!(formMakerService.selectedColumnSubject | async) || ((formMakerService.selectedColumnSubject | async) && (formMakerService.selectedColumnSubject | async)['columnName'] == col['columnName'])"
                      [class.exchange-col]="!(formMakerService.selectedColumnSubject | async)"
                      [class.exchange-col-selected]="(formMakerService.selectedColumnSubject | async) && (formMakerService.selectedColumnSubject | async)['columnName'] == col['columnName']"
                      [class.exchange-col-not-selected]="(formMakerService.selectedColumnSubject | async) && (formMakerService.selectedColumnSubject | async)['columnName'] != col['columnName']"
                      [class.fa-thumbtack]="(formMakerService.selectedColumnSubject | async) && (formMakerService.selectedColumnSubject | async)['columnName'] != col['columnName']"
                      (click)="formMakerService.selectColumn(col)"
                      class="fas px-2 mx-1"></span>
                <span *ngIf="(formMakerService.isDragAndDropMode | async) && (formMakerService.isMakeMode | async) && (formMakerService.selectedColumnSubject | async) && formMakerService.selectedColumn['columnName'] != col['columnName']"
                      [class.fa-exchange-alt]="!(formMakerService.selectedColumnSubject | async) || ((formMakerService.selectedColumnSubject | async) && (formMakerService.selectedColumnSubject | async)['columnName'] == col['columnName'])"
                      [class.exchange-col]="!(formMakerService.selectedColumnSubject | async)"
                      [class.exchange-col-selected]="(formMakerService.selectedColumnSubject | async) && (formMakerService.selectedColumnSubject | async)['columnName'] == col['columnName']"
                      [class.exchange-col-not-selected]="(formMakerService.selectedColumnSubject | async) && (formMakerService.selectedColumnSubject | async)['columnName'] != col['columnName']"
                      [class.fa-thumbtack]="(formMakerService.selectedColumnSubject | async) && (formMakerService.selectedColumnSubject | async)['columnName'] != col['columnName']"
                      (click)="formMakerService.translocateColumns(col)"
                      class="fas px-2 mx-1"></span>
              </div>
              <ng-container *ngIf="(formMakerService.getTypeOf(col.type) == 'string' && col.type.toUpperCase() == 'NONE') || col.type == formMakerService.formElementTypes.NONE">
                <div style="padding-bottom: 18px; margin-top: 3.5px; margin-bottom: 3.5px;"
                     [class.mx-2]="(formMakerService.isMakeMode | async)">
                  <div class="bg-for-none" style="height: 51px; border: #bcb0b0 1px solid; border-radius: 8px;">&nbsp;</div>
                </div>
              </ng-container>
              <ng-container *ngIf="(col.type == 'layout' || col.type == formMakerService.formElementTypes.LAYOUT) && !showModal">
                <app-layout-maker [hasParent]="true" [layoutName]="col['columnName']"></app-layout-maker>
              </ng-container>
              <!--<ng-container *ngIf="col.type == 'btn'">
                <button class="btn btn-success">{{col.title}}</button>
              </ng-container>-->
              <!--(col.type != 'button' && col.type != formMakerService.formElementTypes.BUTTON) &&-->
              <div [class.px-2]="(formMakerService.isMakeMode | async)" class="py-0 m-0">
                <ng-container *ngIf="(col.type != 'layout' && col.type != formMakerService.formElementTypes.LAYOUT) &&
                (col.type != 'none' && col.type != formMakerService.formElementTypes.NONE) && !showModal">
                  <ng-container *ngIf="(formMakerService.getTypeOf(col.type) == 'string' && col.type.toUpperCase() == 'TEXT') ||
                  col.type == formMakerService.formElementTypes.TEXT">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'NUMBER' || col.type == formMakerService.formElementTypes.NUMBER">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'MILADI_DATE' || col.type == formMakerService.formElementTypes.MILADI_DATE">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'MILADI_DATE_TIME' || col.type == formMakerService.formElementTypes.MILADI_DATE_TIME">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'JALALI_DATE' || col.type == formMakerService.formElementTypes.JALALI_DATE">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'JALALI_DATE_TIME' || col.type == formMakerService.formElementTypes.JALALI_DATE_TIME">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'CHECKBOX' || col.type == formMakerService.formElementTypes.CHECKBOX">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'RADIO' || col.type == formMakerService.formElementTypes.RADIO">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'SELECT' || col.type == formMakerService.formElementTypes.SELECT">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'MULTI_SELECT' || col.type == formMakerService.formElementTypes.MULTI_SELECT">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'TEXTAREA' || col.type == formMakerService.formElementTypes.TEXTAREA">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'UPLOADER' || col.type == formMakerService.formElementTypes.UPLOADER">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                  <ng-container *ngIf="col.type == 'BUTTON' || col.type == formMakerService.formElementTypes.BUTTON">
                    <app-form-element [layout]="col"></app-form-element>
                  </ng-container>
                </ng-container>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col col-12 my-2">
      <button class="btn btn-sm btn-outline-secondary" (click)="newColumn($event, row['rowName'])">افزودن ستون جدید</button>
    </div>-->
  </div>
  <!--<div class="row" *ngIf="(formMakerService.isMakeMode | async)" [class.m-0]="hasParent" [class.p-0]="hasParent">
    <div class="col col-sm-12 p-1 m-1">
      <button class="btn btn-sm btn-outline-secondary" (click)="newRow($event)">افزودن سطر جدید</button>
    </div>
  </div>-->
</div>

