.bg-for-none {
  background-image: linear-gradient(45deg, #EE617D 25%, #3D6F8E 25%, #3D6F8E 50%, #EE617D 50%, #EE617D 75%, #3D6F8E 75%, #3D6F8E 100%);
  background-size: 56.57px 56.57px;
}
.bg-for-empty-layout {
  background-image: linear-gradient(135deg, #f6d7dd 25%, #e0e8ee 25%, #E0E8EE 50%, #f6d7dd 50%, #f6d7dd 75%, #E0E8EE 75%, #E0E8EE 100%);
  background-size: 56.57px 56.57px;
}

.layout-row {
  padding-top: 6px;
}

.layout-row-layout:hover {
  background-color: #fcecb8 !important;
}

.new-row {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.new-row:hover {
  background-color: #bfb7f3;
}

.remove-layout {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.remove-layout:hover {
  background-color: #bfb7f3;
}

.select-col {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  color: #7e21b9;
}

.select-col:hover {
  background-color: #e8e3ff;
}

.remove-col {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.remove-col:hover {
  background-color: #e8e3ff;
}

.exchange-col{
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  color: #7e21b9;
}

.exchange-col:hover{
  background-color: #e8e3ff;
}

.exchange-col-selected {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  color: #59e70a;
}

.exchange-col-selected:hover {
  background-color: #e8e3ff;
}

.exchange-col-not-selected {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  color: #7e21b9;
}

.exchange-col-not-selected:hover {
  background-color: #e8e3ff;
}

.new-col {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.new-col:hover {
  background-color: #c1caa1;
}

.remove-row {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.remove-row:hover {
  background-color: #c1caa1;
}

.triple-dot-layout {
  position: relative;
  background: #7c71ca;
  width: 100%;
  height: 20px;
  color: white;
  margin: 0px;
  margin-bottom: 4px;
}

/*.triple-dot-layout:after {
  content: 'Row +';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-size: 15px;
  letter-spacing: 4px;
  margin-top: -4px;
}*/

.triple-dot-row {
  position: relative;
  background: #7c71ca;
  width: 100%;
  height: 20px;
  color: white;
  margin: 0px;
  margin-bottom: 8px;
}

/*.triple-dot-row:after {
  content: 'col +';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-size: 15px;
  letter-spacing: 4px;
  margin-top: -4px;
}*/

.replacement-col {
  position: relative;
  background: #bf9be5;
  width: 100%;
  height: 20px;
  color: white;
  margin: 0px;
}

.replacement-col:after {
  content: "\21B9";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-size: 15px;
  letter-spacing: 4px;
  margin-top: -1px;
}

.replacement-col-selected:after {
  /*content: "\2059" !important;*/
}

.replacement-col-selected {
  color: #ff0000;
  cursor: move;
  background-color: #e7dcf3;
  font-weight: bold;
}

.replacement-col-ready-to-move {
  color: #004bfe;
  background-image: linear-gradient(135deg, #f6d7dd 25%, #e0e8ee 25%, #E0E8EE 50%, #f6d7dd 50%, #f6d7dd 75%, #E0E8EE 75%, #E0E8EE 100%);
  font-weight: bold;
}

.replacement-col-ready-to-move:hover {
  /*content: "\229A" !important;*/
  cursor: pointer;
  color: #004bfe;
  background-image: linear-gradient(135deg, #ecf1cc 25%, #cbfaeb 25%, #cbfaeb 50%, #ecf1cc 50%, #ecf1cc 75%, #cbfaeb 75%, #cbfaeb 100%);
  font-weight: bold;
}

.triple-dot-col {
  position: relative;
  background: #bf9be5;
  width: 100%;
  height: 20px;
  color: white;
  margin: 0px;
}

/*.triple-dot-col:after {
  content: '\2026';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-size: 15px;
  letter-spacing: 4px;
  margin-top: -4px;
}*/

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  /*min-height: 60px;*/
  /*transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);*/
}
