<ng-container *ngIf="attributes$ | async">
  <div >
    <label id="example-radio-group-label" class="mb-2">
      <span>الگوی مقادیر</span>
      <i class="btn btn-sm btn-outline-secondary fas fa-edit px-1 mx-1"
         (click)="navigateToChange()"
         style="padding-bottom: 2px; padding-top: 2px"></i>
    </label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group" [value]="type" >

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">ردیف</th>
          <th scope="col">مقدار</th>
          <th scope="col">برچسب</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attr of _attributes; let i = index">
          <th scope="row">{{attr['orders']}}<!--{{i}}--></th>
          <td>{{attr['value']}}</td>
          <td>{{attr['label']}}</td>
        </tr>
        </tbody>
      </table>

    </mat-radio-group>
  </div>
</ng-container>
