<div class="container-fluid p-0 m-0">
  <div class="row">
    <div class="col col-12 pb-0 mb-0">&nbsp;</div>
    <div class="col col-12 pt-0 mt-0">
      <div class="container-fluid text-end mb-2" style="direction: ltr">
        <button *ngIf="!(qcService.queryTypeSubject | async)"
                [matMenuTriggerFor]="menu" class="btn btn-sm btn-outline-secondary mx-2">Query</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="createQuery('select')">select</button>
          <button mat-menu-item (click)="createQuery('insert')">insert</button>
          <button mat-menu-item (click)="createQuery('update')">update</button>
          <button mat-menu-item (click)="createQuery('delete')">delete</button>
        </mat-menu>
      </div>
    </div>
    <div class="col col-12 pt-0 mt-0">
      <div class="container-fluid" style="direction: ltr">
          <app-select-query *ngIf="(qcService.queryTypeSubject | async) && qcService.queryType == 'select'"
                            [querySpec]="queryStructure.querySpec"></app-select-query>
      </div>
    </div>
    <div class="col col-12 pt-0 mt-0">
      <div class="container-fluid">
        <mat-form-field appearance="outline"
                        style="width: 100%;">


        <textarea class="text-end mt-4"
                  [readonly]="true"
                  style="direction: ltr; font-size: 24px;"
                  [rows]="8"
                  [value]="queryStructure.toQueryString()"
                  matInput appearance="outline">
        </textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
