<!--<div class="columns is-centered" style="padding: 0px">-->
<!--  <div class="column">-->
<!--    <h2 class="title">{{siteInfo.tipTitle}}</h2>-->
<!--    <p>{{siteInfo.tipDescription}}</p>-->
<!--  </div>-->
<!--</div>-->

<div class="columns is-centered" style="padding: 0px" *ngIf="!(authService.authSubject | async).isAdmin">
  <div class="column">
    <h2 class="title">{{siteInfo.tipTitle}}</h2>
    <p>{{siteInfo.tipDescription}}</p>
  </div>
</div>

<div class="container is-centered" style="padding: 0px" *ngIf="(authService.authSubject | async).isAdmin">
  <div class="message is-fullwidth description">
    <div class="message-header">
      <button class="edit is-medium" (click)="isEditedMode = !isEditedMode;">
        <span *ngIf="!isEditedMode" class="fa fa-edit"></span>
        <span *ngIf="isEditedMode" class="fa fa-eye"></span>
      </button>
    </div>

    <div class="message-body" [style.border]="'0px'">
      <div class="container has-text-centered description py-2 is-centered" >
        <ng-container *ngIf="isEditedMode">
          <div class="columns is-center">
            <div class="column is-10-mobile is-4-desktop is-offset-1-mobile is-offset-4-desktop">
              <input class="input is-small" type="text" placeholder="عنوان"
                     style="font-family: IranNastaliq; text-align: center" [(ngModel)]="siteInfo.tipTitle">
            </div>
          </div>
          <div class="columns is-center">
            <div class="column is-10-mobile is-4-desktop is-offset-1-mobile is-offset-4-desktop">
              <textarea class="textarea is-small" [(ngModel)]="siteInfo.tipDescription"></textarea>
            </div>
          </div>
          <div class="columns is-center">
            <div class="column is-10-mobile is-4-desktop is-offset-1-mobile is-offset-4-desktop">
              <button class="button is-success is-small" (click)="updateSiteInfo()">ثبت</button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!isEditedMode">
          <div class="columns is-centered" style="padding: 0px">
            <div class="column">
              <h2 class="title">{{siteInfo.tipTitle}}</h2>
              <p>{{siteInfo.tipDescription}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
