.description {
  background-color: rgba(100,190,180, 0.1);
  border-radius: 12px;
}

.description:hover {
  background-color: rgba(100,190,180, 0.5);
}

.subtitle {
  color: black;
  font-family: IranNastaliq; font-size: 22px;
}

.message-header .edit {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 0.75em;
}

.is-medium.edit {
  height: 24px;
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}

.edit {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  /*font-size: 0;*/
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
}

.is-active-tab {
  font-weight: bold;
  background-color: inherit;
}

.hero .tabs ul {
  border-bottom: inset;
}

.tabs > ul > li > a {
  text-decoration: none;
  color: white;
}

.is-active-tab {
  background-color: #c2dfe8;
}
