<ng-container *ngIf="!(shareStateService.editModeSubject | async).editMode">

  <div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
    <app-sidebar ></app-sidebar>
    <main class="page-content">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <button class="btn" type="button" (click)="toggleSidebar()" >
          <span *ngIf="!getSideBarState()" class="fa fa-bars" style="color: white"></span>
          <span *ngIf="getSideBarState()" class="fa fa-bars" style="color: white"></span>
          <!--        <span class="navbar-toggler-icon"></span>-->
        </button>
        <span *ngIf="(generalStateService.titleSubject | async)"
          style="border: 1px solid #e2d6c0; color: black; border-radius: 16px; padding-left: 10px; padding-right: 10px; padding-bottom: 3px; padding-top: 3px; background-color: #e2d6c0">
                {{(generalStateService.titleSubject | async)}}
              </span>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-start">
            <!--<li class="nav-item">
            <span style="border: 1px solid #FFD07A; color: black; border-radius: 16px; padding-left: 10px; padding-bottom: 3px; padding-top: 3px; background-color: #FFD07A">
              <i class="far fa-user" style="background-color: black; color: white; border-radius: 10px; padding: 3px; margin-left: 4px"></i>نام کاربری</span>
            </li>-->
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0 text-end">
            <li class="nav-item">
              <button class="btn btn-sm btn-outline-info py-1 mx-1"
                      [disabled]="true"
                      style="color: white; border: none;">{{getTime()}}</button>
            </li>
            <li class="nav-item">
              <a (click)="logout()"
                class="btn btn-sm btn-outline-secondary py-1 mx-1" style="color: white; border: none;">
                <i class="fas fa-sign-out-alt" style="background-color: inherit; border-radius: 10px; padding: 3px; margin-left: 4px"></i>خروج
              </a>
            </li>
          </ul>

        </div>
      </nav>
      <div class="container-fluid" style="margin-top: 16px; margin-bottom: 56px;">
        <div class="row">
          <div class="col col-12">
            <app-notification></app-notification>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
      <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    </main>
  </div>

  <!--<app-topbar></app-topbar>
  <app-notification></app-notification>
  <router-outlet></router-outlet>
  <app-footer></app-footer>-->
</ng-container>

<ng-container *ngIf="(shareStateService.editModeSubject | async).editMode">
  <app-notification></app-notification>
  <router-outlet></router-outlet>
</ng-container>
