<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <div class="field">
      <label class="label">نماد</label>
      <div class="control " [class.has-icons-right]="showInfoIcon()">
        <input type="text"
               #instrument
               style="width: 250px;"
               class="input"
               placeholder="انتخاب کنید"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <span *ngIf="showInfoIcon()" class="icon is-small is-right" style="cursor: pointer; pointer-events: initial;">
          <i  class="fas fa-info"></i>
        </span>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
<!--        <input class="input" type="text">-->
      </div>
    </div>

    <div class="field">
      <label class="label">تاریخ شروع</label>
      <div class="control has-icons-left has-icons-right">
        <dp-date-picker
          dir="rtl"
          [(ngModel)]="model.startDate"
          mode="day"
          theme="dp-material">
        </dp-date-picker>
<!--        <input class="input is-success" type="text" placeholder="Text input" value="bulma">-->
      </div>
    </div>

    <div class="field">
      <label class="label">تاریخ پایان</label>
      <div class="control has-icons-left has-icons-right">
        <dp-date-picker
          dir="rtl"
          [(ngModel)]="model.endDate"
          mode="day"
          theme="dp-material">
        </dp-date-picker>
      </div>
    </div>

    <div>
      <button class="button is-success" (click)="doWork()">جستجو</button>
    </div>
  </div>
</div>
