.bg-inherit {
  background-color: inherit !important;
}

.bg-light-red {
  background-color: #FCD2D2 !important;
}

.no-border {
  border: none;
}

.mat-tab-label {
  min-width: 80px !important;
}

.spinner-panel {
  opacity: 0.6;
  border-radius: 132px;
}

.spinner-backdrop {
  opacity: 0.9;
}

.dp-picker-input {
  display: none !important;
}

/* You can add global styles to this file, and also import other style files */
.dropdown-menu[data-bs-popper] {
  right: unset;
}

/*
.cdk-overlay-pane {
  z-index: 1000000000000;
}
*/

.cdk-overlay-container { z-index: 9999; }

@font-face {
  font-family: IranianSans;
  src: url('/resources/Iranian_Sans.ttf');
}

*:not(.material-icons, .fa, .far, .fas, .fab) {
  font-family: IranianSans !important;
}

.container .columns {
  margin: 0px;
}

.menu-active-link {
  background-color: #5c6167;
  color: #dbbdca !important;
  font-weight: bold;
}

.active-link .active {
  background-color: #ff4a6c;
}

button:focus {outline:0;}

button:active {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.modal-background {
  background-color: #2b2b2b;
  background-size: cover;
}

/**/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* dp-date-picker */

.dp-picker-input {
  height: 40px !important;
  /*width: unset !important;*/
  padding: 7px 11px;
  border: 1px solid transparent;
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 252px !important;
  /*width: 100%;*/
  width: 252px !important;
}

/* dp-date-picker */
