<section class="hero is-fullheight" style="background-color: #b9dbff;">
  <!-- Hero head: will stick at the top -->
  <!-- Hero content: will be in the middle -->

  <div class="hero-body header-background"
       *ngIf="siteInfo.headerImage"
       [ngStyle]="{'background-image': 'url(' + siteInfo.headerImage + ')'}">
    <div class="container description">
      <div class="message is-fullwidth description">
        <div class="message-header" *ngIf="(authService.authSubject | async).isAdmin">
          <button class="edit is-medium" (click)="isEditedMode = !isEditedMode;">
            <span *ngIf="!isEditedMode" class="fa fa-edit"></span>
            <span *ngIf="isEditedMode" class="fa fa-eye"></span>
          </button>
        </div>

        <div class="tabs is-centered" *ngIf="isEditedMode">
          <ul>
            <li [class.is-active-tab]="tabName === 'text'"
                (click)="tabChange('text')"><a>متن</a></li>
            <li [class.is-active-tab]="tabName === 'image'"
                (click)="tabChange('image')"><a>تصویر</a></li>
          </ul>
        </div>

        <div class="message-body" [style]="{'border': (authService.authSubject | async).isAdmin ? '0px' : '0px'}">
          <div class="container has-text-centered description py-2 is-centered" >
            <ng-container *ngIf="isEditedMode && tabName === 'image'">
              <app-picture-box #pictureBox [image]="siteInfo.headerImage"
                               [maxWidth]="'256px'"
                               [maxHeight]="'256px'"
                               (onSelect)="selectImage($event)"
                               [isUpload]="true"></app-picture-box>
            </ng-container>
            <ng-container *ngIf="isEditedMode && tabName === 'text'">
              <div class="columns">
                <div class="column is-10-mobile is-4-desktop is-offset-1-mobile is-offset-4-desktop">
                  <input class="input is-small" type="text" placeholder="عنوان"
                         style="font-family: IranNastaliq; text-align: center" [(ngModel)]="siteInfo.title">
                </div>
              </div>
              <div class="columns is-center">
                <div class="column is-10-mobile is-4-desktop is-offset-1-mobile is-offset-4-desktop">
                  <textarea class="textarea is-small" [(ngModel)]="siteInfo.description"></textarea>
                </div>
              </div>
              <div class="columns is-center">
                <div class="column is-10-mobile is-4-desktop is-offset-1-mobile is-offset-4-desktop">
                  <button class="button is-success is-small" (click)="updateSiteInfo()">ثبت</button>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!isEditedMode">
              <h1 class="title" style="font-family: IranNastaliq; font-size: 28px;">
                {{siteInfo.title}}
              </h1>
              <h2 class="subtitle">
                {{siteInfo.description}}
                <!--        آموزش آشپزی همراه با تامین مواد غذایی از دل طبیعت-->
              </h2>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
