<ng-container *ngIf="selectQueryStructure">
  <!--#region select label  -->
  <span class="query-block"
        (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
        (mouseleave)="qcService.setHovered(null)"
        [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
    <button class="btn btn-sm btn-light bg-inherit no-border"
            (click)="qcService.selectQuery(selectQueryStructure.querySpec.queryName)">
    <i class="fa-circle"
       [class.fas]="(qcService.selectedQuerySubject | async) && qcService.selectedQuery == selectQueryStructure.querySpec.queryName"
       [class.far]="!(qcService.selectedQuerySubject | async) || qcService.selectedQuery != selectQueryStructure.querySpec.queryName"></i>
      select
    </button>
  </span>
  <!--#endregion-->

  <!--#region columns defs  -->
  <ng-container *ngIf="(selectQueryStructure.columnsSubject | async).length > 0">
    <ng-container *ngFor="let col of (selectQueryStructure.columnsSubject | async); let i = index">
      <ng-container *ngIf="selectQueryStructure.editedColumnIndex == i && selectQueryStructure.newColumnSubject | async">
        <ng-container *ngIf="selectQueryStructure.newColumn.type == 'simple'">
          <span class="query-block my-form-control-group"
                (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
                (mouseleave)="qcService.setHovered(null)"
                [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
                style="direction: ltr; height: 31px; margin-bottom: 0px !important; padding-left:8px !important;">
            <input class="my-group-control input-in-group start-in-group" style="width: 90px" [(ngModel)]="selectQueryStructure.newColumn['field']">
            <span class="my-group-control label-in-group mid-in-group">as</span>
            <input [disabled]="selectQueryStructure.getType() == 'template'"
                 class="my-group-control input-in-group mid-in-group"[(ngModel)]="selectQueryStructure.newColumn.as" style="width: 90px;">
            <button (click)="selectQueryStructure.commitNewColumn()"
              class="my-group-control last-in-group btn-in-group btn btn-outline-secondary">ok</button>
          </span>
        </ng-container>
        <ng-container *ngIf="selectQueryStructure.newColumn.type == 'case-when'">
        </ng-container>
      </ng-container>
      <span class="query-block"
            (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
            (mouseleave)="qcService.setHovered(null)"
            [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
            style="margin-bottom: 0px !important;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-sm btn-outline-secondary"
                  (click)="selectQueryStructure.editColumn(col)"><i class="fa fa-edit px-1"></i></button>
          <button type="button" class="btn btn-sm btn-outline-secondary" [disabled]="true"
                  style="opacity: 1; border-right: none;">{{col.toString()}}</button>
          <button type="button" class="btn btn-sm btn-outline-danger"
                  [disabled]="selectQueryStructure.getType() == 'template'"
                  (click)="selectQueryStructure.removeColumn(col)"><i class="fa fa-times px-1"></i></button>
        </div>
      </span>
      <span
        (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
        (mouseleave)="qcService.setHovered(null)"
        [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
        *ngIf="((i + 1) < selectQueryStructure.columns.length)" class="query-block">
        <button class="btn btn-sm btn-light bg-inherit no-border" [disabled]="true">,</button>
      </span>
    </ng-container>
  </ng-container>
  <!--#endregion-->

  <!--#region new column or edited column  -->
  <ng-container *ngIf="(selectQueryStructure.editedColumnIndex == -1 || selectQueryStructure.editedColumnIndex == selectQueryStructure.columns.length) && selectQueryStructure.newColumnSubject | async">
    <ng-container *ngIf="selectQueryStructure.newColumn.type == 'simple'">
    <span class="query-block my-form-control-group"
          (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
          (mouseleave)="qcService.setHovered(null)"
          [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
          style="direction: ltr; height: 31px; margin-bottom: 0px !important; padding-left:8px !important;">
      <input class="my-group-control input-in-group start-in-group" style="width: 90px" [(ngModel)]="selectQueryStructure.newColumn['field']">
      <span class="my-group-control label-in-group mid-in-group">as</span>
      <input [disabled]="selectQueryStructure.getType() == 'template'"
        class="my-group-control input-in-group mid-in-group"[(ngModel)]="selectQueryStructure.newColumn.as" style="width: 90px;">
      <button (click)="selectQueryStructure.commitNewColumn()"
              class="my-group-control last-in-group btn-in-group btn btn-outline-secondary">ok</button>
    </span>
    </ng-container>
    <ng-container *ngIf="selectQueryStructure.newColumn.type == 'case-when'">
    </ng-container>
  </ng-container>
  <!--#endregion-->

  <!--#region +col -->
  <span class="query-block"
        (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
        (mouseleave)="qcService.setHovered(null)"
        [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
    <button [matMenuTriggerFor]="menu"
          [disabled]="(selectQueryStructure.newColumnSubject | async) || selectQueryStructure.getType() == 'template'"
          class="btn btn-sm btn-outline-secondary mx-2">+col</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="selectQueryStructure.addNewColumn('simple')">Simple</button>
      <button mat-menu-item (click)="selectQueryStructure.addNewColumn('case-when')">Case-When</button>
    </mat-menu>
  </span>
  <!--#endregion-->

  <!--#region from -->
  <span class="query-block"
        (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
        (mouseleave)="qcService.setHovered(null)"
        [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
    <button class="btn btn-sm btn-light bg-inherit no-border" [disabled]="true">from</button>
  </span>
  <!--#endregion-->

  <!--#region tables defs -->
  <ng-container *ngIf="(selectQueryStructure.tablesSubject | async).length > 0">
    <ng-container *ngFor="let tab of (selectQueryStructure.tablesSubject | async); let i = index">
      <ng-container *ngIf="tab.type == 'simple'">
        <span class="query-block"
              (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
              (mouseleave)="qcService.setHovered(null)"
              [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
              style="margin-bottom: 0px !important;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-sm btn-outline-secondary"
                  (click)="selectQueryStructure.editTable(tab)"><i class="fa fa-edit px-1"></i></button>
          <button type="button" class="btn btn-sm btn-outline-secondary" [disabled]="true"
                  style="opacity: 1; border-right: none;">{{tab.toString()}}</button>
          <button type="button" class="btn btn-sm btn-outline-danger"
                  (click)="selectQueryStructure.removeTable(tab)"><i class="fa fa-times px-1"></i></button>
        </div>
      </span>
      <!--<span class="query-block"
            (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
            (mouseleave)="qcService.setHovered(null)"
            [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
        <button class="btn btn-sm btn-outline-danger">
          {{tab.toString()}}<i class="fa fa-times px-1"></i>
        </button>
      </span>-->
      </ng-container>
      <ng-container *ngIf="tab.type == 'join'">
      <span class="query-block"
            (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
            (mouseleave)="qcService.setHovered(null)"
            [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
        <button class="btn btn-sm btn-outline-danger">
          {{tab.toString()}}<i class="fa fa-times px-1"></i>
        </button>
      </span>
      </ng-container>
      <ng-container *ngIf="tab.type == 'inner'">
        <span class="query-block"
            (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
            (mouseleave)="qcService.setHovered(null)"
            [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
            style="color: red;">
        <button class="btn btn-sm btn-light bg-inherit no-border" [disabled]="true">(</button>
      </span>

          <app-select-query [querySpec]="tab.getQuerySpec()"></app-select-query>

          <span class="query-block"
              (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
              (mouseleave)="qcService.setHovered(null)"
              [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
              style="color: red;">
            <button class="btn btn-sm btn-light bg-inherit no-border" [disabled]="true">) </button>
          </span>
          <span class="query-block my-form-control-group"
              (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
              (mouseleave)="qcService.setHovered(null)"
              [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
              style="direction: ltr; height: 31px; margin-bottom: 0px !important; padding-left:8px !important;">
            <span class="my-group-control label-in-group start-in-group">as</span>
            <input class="my-group-control input-in-group mid-in-group"
                   [(ngModel)]="tab.as" style="width: 90px;">
            <button (click)="selectQueryStructure.commitInnerTableAs()"
              class="my-group-control last-in-group btn-in-group btn btn-outline-secondary">
              <i class="fa fa-check" style="color: green"></i>
            </button>
          </span>
          <!--<span class="query-block"
              (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
              (mouseleave)="qcService.setHovered(null)"
              [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">

        <input class="my-form-control" style="width: 90px; padding-top: 4px;" [(ngModel)]="tab.as">
      </span>-->

      </ng-container>
      <span
        (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
        (mouseleave)="qcService.setHovered(null)"
        [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
        class="query-block" *ngIf="((i + 1) < selectQueryStructure.tables.length)">
      <button class="btn btn-sm btn-light bg-inherit no-border" [disabled]="true">,</button>
    </span>
    </ng-container>
  </ng-container>
  <!--#endregion-->

  <!--#region new table or edited table -->
  <ng-container *ngIf="selectQueryStructure.newSourceSubject | async">
    <ng-container *ngIf="selectQueryStructure.newSource.type == 'simple'">
    <span class="query-block my-form-control-group"
          (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
          (mouseleave)="qcService.setHovered(null)"
          [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
          style="direction: ltr; height: 31px; margin-bottom: 0px !important; padding-left:8px !important;">
      <input class="my-group-control input-in-group start-in-group" style="width: 90px"
             [(ngModel)]="selectQueryStructure.newSource['name']">
      <span class="my-group-control label-in-group mid-in-group">as</span>
      <input class="my-group-control input-in-group mid-in-group"
             [(ngModel)]="selectQueryStructure.newSource.as" style="width: 90px;">
      <button (click)="selectQueryStructure.commitNewSource()"
              class="my-group-control last-in-group btn-in-group btn btn-outline-secondary">ok</button>
    </span>
    </ng-container>
    <ng-container *ngIf="selectQueryStructure.newSource.type == 'join'">
    <span class="query-block"
          (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
          (mouseleave)="qcService.setHovered(null)"
          [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
    </span>
    </ng-container>
    <!--<ng-container *ngIf="selectQueryStructure.newSource.type == 'inner'">
      <span class="query-block"
            [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
            style="color: red;">
        <button class="btn btn-sm btn-light bg-inherit no-border" [disabled]="true">(</button>
      </span>
      &lt;!&ndash;          <div class="container-fluid">
                  <div class="row align-items-center">
                    <div style="color: red;" class="px-2 col col-auto">(</div>
                    <div class="col col-auto">&ndash;&gt;
      <app-select-query
        [selectQueryStructure]="selectQueryStructure.newSource.getQuerySpec()"></app-select-query>
      &lt;!&ndash;              </div>
                    <div style="color: red;" class="px-2 col col-auto">)</div>
                  </div>
                </div>&ndash;&gt;
      <span class="query-block"
            [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)"
            style="color: red;">
        <button class="btn btn-sm btn-light bg-inherit no-border" [disabled]="true">) as </button>
      </span>
      <span class="query-block"
            [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
          <input class="my-form-control" style="width: 90px; padding-top: 4px;">
      </span>
    </ng-container>-->
  </ng-container>
  <!--#endregion-->

  <!--#region +source -->
  <span class="col col-auto text-end mx-0 px-0 query-block"
        (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
        (mouseleave)="qcService.setHovered(null)"
        [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
    <button [matMenuTriggerFor]="tableMenu"
            [disabled]="selectQueryStructure.newSourceSubject | async"
            class="btn btn-sm btn-outline-secondary mx-2">+source</button>
    <mat-menu #tableMenu="matMenu">
      <button mat-menu-item (click)="selectQueryStructure.addNewSource('simple', querySpec)">Simple</button>
      <button mat-menu-item (click)="selectQueryStructure.addNewSource('join', querySpec)">Join</button>
      <button mat-menu-item (click)="selectQueryStructure.addNewSource('inner', querySpec)">Inner</button>
    </mat-menu>
  </span>
  <!--#endregion-->

  <!--#region where -->
  <span class="query-block"
        (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
        (mouseleave)="qcService.setHovered(null)"
        [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
    where <button class="btn btn-sm btn-outline-secondary mx-2">clauses</button>
  </span>
  <!--#endregion-->

  <!--#region order by -->
  <span class="query-block"
        (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
        (mouseleave)="qcService.setHovered(null)"
        [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
    order by <button class="btn btn-sm btn-outline-secondary mx-2">sorts</button>
  </span>
  <!--#endregion-->

  <!--#region select button  -->
  <span class="query-block"
        (mouseenter)="qcService.setHovered(selectQueryStructure.querySpec.queryName)"
        (mouseleave)="qcService.setHovered(null)"
        [class.bg-light-red]="selectQueryStructure.selfOrChild(qcService.hoveredSubject | async)">
    group by <button class="btn btn-sm btn-outline-secondary mx-2">groups</button>
  </span>
  <!--#endregion-->
</ng-container>
