.footer {
  margin-top: 16px;
  color: white;
  background-color: #212529;
}

.footer-link-title {
  margin-bottom: 1em
}

.footer .navbar-item {
  padding: 0;
  margin-bottom: .25em
}

.footer .footer-text,.footer .form-group {
  margin-bottom: 1em
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .5em
}

.social-link .icon {
  margin-right: .5em
}

.social-link p {
  line-height: 25px
}

.has-text-weight-semibold {
  font-weight: 600!important
}

.has-text-weight-bold {
  font-weight: 700!important
}

hr {
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0
}

code, hr {
  background-color: #f5f5f5;
}

.piana-social-link {
  color: #edefef;
  font-weight: bold;
}
