<footer class="footer fixed-bottom py-1">
  <div class="container">
    <div class="footer-bottom align-items-center text-center has-text-centered">
      <div>کلیه حقوق این وب سایت متعلق به گروه <a class="piana-social-link" href="https://rayanhamafza.com">rayanhamafza.com</a> است.</div>
      <div class="has-text-centered is-centered">
        <a class="piana-social-link mx-2" href="{{siteInfo.facebookLink}}"
           target="_blank" title="رایان هم افزا در فیسبوک" aria-label="پیانا در فیسبوک">
          <i class="fab fa-facebook"></i>
        </a>
        <a class="piana-social-link mx-2" href="{{siteInfo.facebookLink}}" target="_blank"
           title="رایان هم افزا در واتس اپ" aria-label="پیانا در واتس اپ">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a class="piana-social-link mx-2" href="{{siteInfo.facebookLink}}" target="_blank"
           title="رایان هم افزا در اینستاگرام" aria-label="پیانا در اینستاگرام">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="piana-social-link mx-2" href="{{siteInfo.facebookLink}}" target="_blank"
           title="تماس با رایان هم افزا" aria-label="تماس با پیانا">
          <i class="fa fa-phone"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
