<h1 mat-dialog-title>Query Creator For Options</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row align-items-start my-header pb-3">
      <div class="col col-12">
        <app-option-query-creator #queryCreator></app-option-query-creator>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="container">
    <div class="row">
      <div class="col col-auto px-4">
        <button class="btn btn-sm btn-outline-secondary" (click)="closeClick(queryCreator.queryStructure)">بستن</button>
      </div>
    </div>
  </div>
</div>
