table {
  width: 100%;
}

/*
.highlight {
  background-color: #c69500;
}
*/

tr:not(.highlight):active {
  background: #efefef;
}

tr:not(.highlight):hover {
  background: whitesmoke;
}

tr.detail-row, .if-selected {
  height: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-row td {
  border-bottom-width: 0;
}
