::ng-deep.mat-dialog-container {
  padding: 4px !important;
}

.my-mat-header {
  background-color: #c9f0f5;
  padding: 8px 16px;
  margin-left: 12px;
  margin-right: 12px;
}

.trend-dialog {
  overflow: unset;
}

::ng-deep.mat-dialog-container {
  overflow-y: hidden !important;
}
